---
import "../styles/global.css";
import BasePageLayout from "../layouts/BasePageLayout.astro";
const pageTitle = "About Me";
const show_Title=false
---

<BasePageLayout pageTitle={pageTitle} show_Title={show_Title}>
  <h2>About Me</h2>    
  <div class="main">
      <p>
        When young me went to the doctor, my mom told me:
      </p>
      <p> 
        "You should learn to make and design stuff like those tools the doctor uses!"
      </p>
      
    <p>
      Well, nearly a decade and a half later and still interested in all things tech...

      <br>
      I can comfortably say, hardware or software; give me some time and I can hold to that thought my momma had.
    </p>

    I don't know what the future holds, but I'm willing to see it with you, reader.
    Still need to add more, so be on the lookout.
    
<!--     
    <p>
      <li>
      Hello! I'm Rohan, an upcoming software engineer.
      </li>
    
    <p>Born and raised in the US, and I'm the best at being .</p>
    
    {
      identity.hobbies.length >= 2 && (
        <li>
          Some of my hobbies are {identity.hobbies[0]} and {identity.hobbies[2]}
          .
          </li>
        )
    }
    <p>My Skills are:</p>
    <u1>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </u1>
  </p>
  
  <p>
    I'm working through the intro Astro website, second page in, first written
    by myself!
  </p>
  
  <p>Be on the lookout for more updates!</p>
   -->
  </div>
</BasePageLayout>
