---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import TabHeader from "../components/TabHeader.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const identity = {
  name: "Rohan Durgum",
  country: "United States",
  occupation: "software engineer",
  hobbies: ["gaming", "tinkering", "crochetting"],
};
const skills = [
  "HTML",
  "CSS",
  "Javascript",
  "React",
  "Astro",
  "Being awesome!",
];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="main">

    <h2>... and my new Astro site!</h2>
    
  <p>
    <li>
      Hello! I'm {identity.name}, a upcoming {identity.occupation}.
    </li>
    
    <li>I live in {identity.country}, and it's alright over here.</li>
    
    {
      identity.hobbies.length >= 2 && (
        <li>
          Some of my hobbies are {identity.hobbies[0]} and {identity.hobbies[2]}
          .
          </li>
      )
    }
    <p>My Skills are:</p>
    <u1>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </u1>
  </p>
  
  <p>
    I'm working through the intro Astro website, second page in, first written
    by myself!
  </p>

  <p>Be on the lookout for more updates!</p>

  </div>
</BaseLayout>
