---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import "/src/styles/global.css";
const allPosts = Object.values(
  import.meta.glob("../pages/posts/*.md", { eager: true })
);
const pageTitle = "Personal Blog";
const show_Title = false;
---

<BasePageLayout pageTitle={pageTitle} show_Title={show_Title}>
  <h2>{pageTitle}</h2>
  <div class="main">
    <p>Here's a personal blog for myself, check it out!</p>
    <ul>
      {
        allPosts.map((post: any) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
</div>
</BasePageLayout>
