---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import "/src/styles/global.css";
const allPosts = Object.entries(
  import.meta.glob("../pages/projects/*.md", { eager: true })
);
const pageTitle = "Projects";
const show_Title = false;
---

<BasePageLayout pageTitle={pageTitle} show_Title={show_Title}>
  <h2>{pageTitle}</h2>
  <div class="main">
    <p>Projects galore!
    Not as plentiful as I like it right now, but in time that'll change.
    Be on the lookout!</p>
    <ul>
      {
        allPosts.map(([path, post]:any) => {
          const fileName = path.split("/").pop().replace(".md", "");
          return <BlogPost url={post.url} title={fileName}/>
          // add descriptions + styling for each box
        })
      }
    </ul>
</div>
</BasePageLayout>
